{% apply spaceless %}
{% UIFieldSet Standard {sLegend: 'combodo-hybridauth:UserSyncEnabling'|dict_s} %}
    {% UIField Small {sLabel: 'combodo-hybridauth:SSOUserSync'|dict_s, sDescription:'combodo-hybridauth:SSOUserSyncToolTip'|dict_s} %}
    <div id="ibo-field-ssoUserSync" class="ibo-field ibo-content-block ibo-block  ibo-field-small
    " data-role="ibo-field" data-attribute-code="" data-attribute-type="" data-attribute-label=""
         data-attribute-flag-hidden="false" data-attribute-flag-read-only="false"
         data-attribute-flag-mandatory="false"
         data-attribute-flag-must-change="false" data-attribute-flag-must-prompt="false"
         data-attribute-flag-slave="false" data-value-raw="">

        <div class="ibo-field--value">
                <span class="switch">
                    <input id="ssoUserSync" aria-label="{{ 'combodo-hybridauth:ssoUserSync'|dict_s }}" name="action" value="1"
                           type="checkbox" {{ selected_provider_conf.ssoUserSync ? 'checked' : '' }}>
                    <span class="slider round"/>
                </span>
        </div>
    </div>
    {% EndUIField %}

    {% UIField Standard {sLabel: 'combodo-hybridauth:SSOUserOrganization'|dict_s, sDescription:'combodo-hybridauth:SSOUserOrganizationToolTip'|dict_s} %}
    {% UISelect ForSelect {sId: 'ssoUserOrg', sName:'ssoUserOrg'} %}
    {% for orgName in conf.org %}
        {% if orgName == selected_provider_conf.ssoUserOrg %}
            {% UISelectOption ForSelectOption {sValue: orgName, sLabel: orgName, bSelected:true} %}
        {% else %}
            {% UISelectOption ForSelectOption {sValue: orgName, sLabel: orgName, bSelected:false} %}
        {% endif %}
    {% endfor %}
    {% EndUISelect %}
    {% EndUIField %}
{% EndUIFieldSet %}
{% endapply %}
